<!DOCTYPE html>
<html ng-app>
	<head>
	</head>
	<body ng-controller='FilmesController'>
		<h1>Bem vindo ao treinamento de MEAN Stack do Alura!</h1>

		<ul>
			<li ng-repeat="filme in filmes">
				<p>{{filme.titulo}}</p>
			</li>
		</ul>

		<form ng-submit="adicionaFilme()">
			Titulo: <input ng-model="filme.titulo">
			Diretor: <input ng-model="filme.diretor">
			Ano: <input ng-model="filme.ano">
			<input type="submit">
		</form>

		<script src='/javascripts/angular.js'></script>
		<script src='/javascripts/FilmesController.js'></script>
	</body>
</html>